<!DOCTYPE html>
<form action="/output" method="post">
  <label for="qx-coord">Enter the queen's x coordinate: </label>
  <input id="qx-coord" type="number" name="qx-coord">

  <label for="qy-coord">Enter the queen's y coordinate: </label>
  <input id="qy-coord" type="number" name="qy-coord">

  <label for="px-coord">Enter the target's x coordinate: </label>
  <input id="px-coord" type="number" name="px-coord">

  <label for="py-coord">Enter the target's y coordinate: </label>
  <input id="py-coord" type="number" name="py-coord">

  <button type="submit" name="button">Submit</button>
</form>
